:root {
    --beige: #e3dfba;
    --oscuro: #1a1f1e;
    --primario: #93ccc6;
    --secundario: #c8d6bf;
    --terciario: #6cbdb5;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    font-weight: 400;
    color: var(--oscuro);
    
}
 .titulo span {
    font-size: 2rem;
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--terciario);
}

.navegacion-principal {
    display: flex;
    justify-content: space-between;
}

.navegacion-principal a {
    color: var(--beige);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1rem;
}
 .navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
 }