:root {/*Custom property*/
    --beige: #e3dfba;
    --oscuro: #1a1f1e;
    --primario: #93ccc6;
    --secundario: #c8d6bf;
    --terciario: #6cbdb5;
}

html {/* html, body para rem*/
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
}

.titulo span{
    font-size: 2rem;
}

.contenedor {
    width: 100rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--terciario);
}

.navegacion-principal {
    display: flex;
    justify-content: space-between;
}

.navegacion-principal a {
    color: var(--beige);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover { /*aplica estilos a un elemento cuando el usuario pasa el cursor sobre él*/
    background-color: var(--primario);
    color: var(--oscuro);
}

@media (min-width :480px) {
    h1 {

    }
}

@media (min-width :720) {
    
}